/* basic RULES*/

* {
    box-sizing: border-box;
}

body,
html {
    min-height: 100vh;
    margin: 0;
}

img {
    max-width: 100%;
}

/* end basic RULES*/


body {
    background: #E6E3E9;
}

header {
    background: black;
    position: fixed;
    z-index: 9;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(25, 59, 36);
}

.primary-nav ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.primary-nav ul li {
    padding-right: 50px;
}

.primary-nav ul a {
    color: rgb(189, 189, 189);
    text-decoration: none;
    display: inline-block;
    padding: 10px 0;
    border-bottom: 1px dotted transparent;
    transition: 1s;
}

.primary-nav ul a:hover,
.primary-nav ul a.active {
    border-bottom: 1px dotted white;
    color: white;
}

.primary-nav ul a.active {
    font-weight: bold;
}

.pg-padding {
    padding: 30px 50px;
}

.pg-padding2 {
    padding: 1px 30px;
}

.feature {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/hero6.jpg');
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
}

main {
    padding-top: 100px;
}

.play-header {
    background-image: url('../images/play-header.jpg');
    background-position: right;
    background-size: cover;
    text-align: center;
    display: grid;
    position: relative;
}

.play-header>div {
    max-width: 1000px;
    margin: auto;
}

.sunshine-header {
    height: 25vh;
    width: 100vw;
    background-image: url('../images/sunshine-header.jpg');
    background-position: right;
    background-size: cover;
    text-align: center;
    display: grid;
    position: relative;
}

.play-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.cooped {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 100px;
}

.options {
    display: grid;
    grid-template-columns: 1fr minmax(250px, 2fr) minmax(250px, 2fr) 1fr;
    grid-gap: 60px;
    padding: 80px;
    text-align: center;
}

.button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 25px;
    display: inline-block;
    transition: .5s rgb(25, 59, 36);
    text-shadow: 1px 1px 1px black;
    font-size: 30px;

}

.button-green {
    background: rgb(25, 59, 36);
}

.button-green:hover {
    background: rgb(16, 28, 20);
    color: rgb(122, 170, 137);
}

.sunshine {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.sleeping {
    height: 200px;
    width: 200px;
}

.happy {
    height: 150px;
    width: 150px;
}

.vitd {
    height: 200px;
    width: 200px;
}

.footer-feature {
    background-image: url('../images/footer.png');
    background-position: center;
    background-size: cover;
    text-align: center;
    display: grid;
    position: relative;
}

/*  TYPOGRAPHY   */

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align: center;
    font-size: 55px;
    font-style: normal;
    height: 50px;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
    font-size: 55px;
    font-style: normal;
    height: 50px;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
    font-size: 55px;
    font-style: normal;
    height: 50px;
    text-shadow: 1px 1px 1px black;

}

.p2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 20px;
}

.p3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    height: 50px;

}

.p4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 20px;
    text-shadow: .5px .5px .5px grey;
}

.p5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 20px;
}

.more-space {
    padding-bottom: 150px;
}

@media screen and (max-width:800px) {
    .options {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 60px;
        padding: 80px;
        text-align: center;
    }

    .sunshine {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .play-images {
        grid-template-columns: 1fr;
    }

    @media screen and (max-width:600px) {
        .play-header.p2 h2{
        color: black;
        }
    }
}